<h2>In the books index!!!</h2>

<p>
  <%= link_to "Books POST", books_path, method: :post %>

  <%= link_to "List all books", books_path %>

  <%= link_to "New book", new_book_path %>

  <%= link_to "Book number seven", book_path(7) %>

  <%= link_to "Custom anchor tag", new_book_path, class: "link" %>
  <!-- <a href="/books" class="link">Custom anchor tag</a> -->

</p>

<ul>
  <% @books.each do |iter_book| %>
    <li>
      <!-- Farm this out to a partial -->
      <%= render partial: "book_summary", locals: { book: iter_book } %>
    </li>
  <% end %>
</ul>


#/app/assets/images/cat.jpg
<%= image_tag "cats/cat.jpg", alt: "The cutest cat in the whole world." %>














<!--  -->
