<h1>Add a Book</h1>

<!-- SPECIAL INPUT TO ALLOW RAILS TO USE THIS FORM -->
<!--
<form action="/books" method="post" accept-charset="utf-8">

  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">

  <div>
    <label for="title">Book Title</label>
    <input type="text" name="title" placeholder="ex: Catcher in the Rye" id="title">
  </div>

  <div>
    <label for="author">Author</label>
    <input type="text" name="author" id="author">
  </div>


  <input type="submit" value="Add Book">
</form>
-->


<!-- Using form_tag -->
<!-- <%= form_tag books_path, method: :post do %> -->

  <!--          for=           text inside the tag -->
  <!-- <%= label_tag "book[title]", "Book Title" %> -->
  <!--               title=        text inside the tag -->
  <!-- <%= text_field_tag "book[title]" %> -->

  <!-- <%= label_tag "book[author]", "Author" %>
  <%= text_field_tag "book[author]" %>

  <%= submit_tag "Add Book" %>

<% end %> -->


<%= form_for @book do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :author %>
  <%= f.text_field :author %>

  <%= f.submit "Make me a book!" %>
<% end %>
